<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-header">
    <a href="/" class="navbar-brand"><span class="brand-title">{{vm.title}}</span></a>
    <a class="btn navbar-btn navbar-toggle" ng-click="isCollapsed = !isCollapsed">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
  </div>
  <div class="navbar-collapse collapse" uib-collapse="isCollapsed">
    <div class="pull-right navbar-logo">
      <ul class="nav navbar-nav pull-right">
        <li ng-show = "vm.getUser().email">
          <a>{{'Hello, ' + vm.getUser().firstName + ' ' + vm.getUser().lastName}}</a>
        </li>
        <li class="dropdown dropdown-big" ng-controller="LoginModalCtrl as vmLoginModalController">
          <a>
            <i ng-class="vm.getUser().email ? 'glyphicon glyphicon-log-out' : 'glyphicon glyphicon-log-in'" aria-hidden="true" ng-click="vmLoginModalController.open()"></i>
          </a>
        </li>
        <li>
          <a href="http://www.gulpjs.com/" target="_blank">
            <img src="images/gulp-tiny.png" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
